<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal Component</title>
    <link rel="icon" href="/favicon.svg" />
    <link rel="stylesheet" href="../../style.css" />
    <script type="module" src="../../main.ts"></script>
    <link rel="preload" href="/font/pretendardvariable.css" as="style" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
  </head>
  <body class="font-pretendard bg-quokka-white min-h-screen">
    <h1 class="text-quokka-brown p-2 text-5xl font-bold">Modal 컴포넌트 페이지입니다.</h1>
    <button name="detail">열기</button>
    <dialog
      class="text-quokka-black backdrop:bg-quokka-brown/80 fixed top-[50%] left-[50%] translate-[-50%] rounded-[.625rem] bg-white px-9 py-[30px] text-base font-medium shadow-[0_4px_4px_0_rgba(139,109,92,0.10)]"
    >
      <form method="dialog" class="flex flex-col gap-9">
        <!-- 닫기 -->
        <button type="button" name="close" class="absolute top-6 right-6">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 15L15 1M1 1L15 15"
              stroke="#777777"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>

        <!-- 제목, 태그, 북마크 & 공유 -->
        <div class="gap- flex flex-col gap-3">
          <!-- 제목 -->
          <h3 class="text-2xl font-bold">JavaScript 제목입니다.</h3>

          <!-- 태그 -->
          <div class="text-xs font-semibold">
            <span class="text-quokka-brown bg-quokka-white rounded-4xl px-2.5 py-1.5">태그1</span>
            <span class="text-quokka-brown bg-quokka-white rounded-4xl px-2.5 py-1.5">태그2</span>
            <span class="text-quokka-brown bg-quokka-white rounded-4xl px-2.5 py-1.5">태그3</span>
          </div>

          <!-- 북마크 | 공유 -->
          <div class="flex flex-row justify-end gap-2">
            <button
              type="button"
              name="bookmark"
              class="self bg-quokka-snow flex items-center gap-2.5 rounded-3xl border-1 border-[#a0a0a0] px-4.5 py-2 text-xs font-semibold"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="#7DCFCA"
                width="13"
                height="14"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
              </svg>
              북마크
            </button>
            <button
              type="button"
              name="share"
              class="self bg-quokka-snow flex items-center gap-2.5 rounded-3xl border-1 border-[#a0a0a0] px-4.5 py-2 text-xs font-semibold"
            >
              <svg
                width="13"
                height="14"
                viewBox="0 0 13 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.8429 6.3835C3.62942 5.99416 3.22 5.73077 2.75 5.73077C2.05964 5.73077 1.5 6.29902 1.5 7C1.5 7.70098 2.05964 8.26923 2.75 8.26923C3.22 8.26923 3.62942 8.00584 3.8429 7.6165M3.8429 6.3835C3.94298 6.56603 4 6.77626 4 7C4 7.22374 3.94298 7.43397 3.8429 7.6165M3.8429 6.3835L9.1571 3.38574M3.8429 7.6165L9.1571 10.6143M9.1571 10.6143C9.05702 10.7968 9 11.007 9 11.2308C9 11.9317 9.55964 12.5 10.25 12.5C10.9404 12.5 11.5 11.9317 11.5 11.2308C11.5 10.5298 10.9404 9.96154 10.25 9.96154C9.78 9.96154 9.37058 10.2249 9.1571 10.6143ZM9.1571 3.38574C9.37058 3.77507 9.78 4.03846 10.25 4.03846C10.9404 4.03846 11.5 3.47021 11.5 2.76923C11.5 2.06825 10.9404 1.5 10.25 1.5C9.55964 1.5 9 2.06825 9 2.76923C9 2.99298 9.05702 3.2032 9.1571 3.38574Z"
                  stroke="#121212"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              공유
            </button>
          </div>
        </div>

        <!-- 설명, 설명 텍스트, 리소스 방문하기 -->
        <div class="flex flex-col">
          <!-- 설명 -->
          <h4 class="mb-2">설명</h4>
          <p class="text-quokka-gray mb-6 border-t-[1px] border-t-[#F3F3F3] pt-2 text-sm">
            JavaScript 설명 텍스트입니다. 코딩꿈나무양성소 파이팅!
          </p>

          <!-- 리소스 방문하기 -->
          <a
            href="#"
            class="bg-quokka-brown mr-auto rounded-4xl px-4.5 py-3 text-sm font-semibold text-white"
          >
            리소스 방문하기
          </a>
        </div>

        <!-- 리소스 정보, 카테고리, 작성자, 최근 방문, 난이도, 추가일 -->
        <div class="flex flex-col">
          <!-- 리소스 정보 -->
          <h4 class="mb-2">리소스 정보</h4>
          <dl
            class="grid grid-flow-col grid-cols-[100px_200px_100px_200px] grid-rows-3 gap-y-1 border-t-[1px] border-t-[#F3F3F3] pt-2"
          >
            <dt class="text-quokka-gray">카테고리 :</dt>
            <dd class="col-start-2 col-end-3">프론트엔드</dd>
            <dt class="text-quokka-gray">작성자 :</dt>
            <dd class="col-start-2 col-end-3">React 팀</dd>
            <dt class="text-quokka-gray">최근 방문 :</dt>
            <dd class="col-start-2 col-end-3">2025-05-05</dd>
            <dt class="text-quokka-gray">난이도 :</dt>
            <dd class="col-start-4 col-end-5">중급</dd>
            <dt class="text-quokka-gray">추가일 :</dt>
            <dd class="col-start-4 col-end-5">2025-01-15</dd>
          </dl>
        </div>
      </form>
    </dialog>
  </body>
</html>
