<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar Component</title>
    <link rel="icon" href="/favicon.svg" />
    <link rel="stylesheet" href="../../style.css" />
    <script type="module" src="../../main.ts"></script>
    <link rel="preload" href="/font/pretendardvariable.css" as="style" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <script src="Sidebar.ts" type="module"></script>
  </head>
  <body class="font-pretendard m-0 box-border p-0">
    <aside>
      <div class="flex h-screen w-32 flex-col items-center px-2 pt-6">
        <!-- Logo -->
        <div class="mb-3 flex flex-col items-center">
          <img src="/favicon.svg" alt="Quokkadocs icon" />
        </div>

        <!-- Navigation Items -->
        <nav class="flex w-full flex-col items-center gap-2">
          <div
            class="nav-item flex w-full cursor-pointer flex-col items-center rounded-xl px-2 py-3"
            data-active="true"
          >
            <div class="flex h-5 w-5 items-center justify-center text-xl">
              <img src="/img/dashboard.svg" alt="dashboard-icon" />
            </div>
            <span class="text-quokka-black mt-1 text-sm font-medium">대시보드</span>
          </div>
          <div
            class="nav-item flex w-full cursor-pointer flex-col items-center rounded-xl px-2 py-3"
          >
            <div class="flex h-5 w-5 items-center justify-center text-xl">
              <img src="/img/compass.svg" alt="" />
            </div>
            <span class="text-quokka-black mt-1 text-sm font-medium">리소스</span>
          </div>
          <div
            class="nav-item flex w-full cursor-pointer flex-col items-center rounded-xl px-2 py-3"
          >
            <div class="flex h-5 w-5 items-center justify-center text-xl">
              <img src="/img/bookmark.svg" alt="" />
            </div>
            <span class="text-quokka-black mt-1 text-sm font-medium">북마크</span>
          </div>
        </nav>

        <!-- Settings at bottom -->
        <nav class="mt-auto mb-5 w-full">
          <div
            class="nav-item flex w-full cursor-pointer flex-col items-center rounded-xl px-2 py-3"
          >
            <div class="flex h-5 w-5 items-center justify-center text-xl">
              <img src="/img/settings.svg" alt="" />
            </div>
            <span class="text-quokka-black mt-1 text-sm font-medium">설정</span>
          </div>
        </nav>
      </div>
    </aside>
  </body>
</html>
