@import 'tailwindcss';

@theme {
  --font-pretendard: 'Pretendard Variable', sans-serif;

  --color-quokka-brown: #8b6d5c;
  --color-quokka-tan: #d2b48c;
  --color-quokka-green: #4caf50;
  --color-quokka-blue: #64b5f6;
  --color-quokka-red: #c25048;
  --color-quokka-white: #f5ebe0;
  --color-quokka-black: #121212;
  --color-quokka-gray: #777777;
  --color-quokka-mint: #7dcfca;
  --color-quokka-snow: #f9fafb;
  --color-quokka-cloud: #d5f5f1;
  --color-quokka-mist: #00aea9;
  --color-quokka-breeze: #fffcf9;
}
